

input[type=button]{
	background: #ffdd93;
	/* width: 20%; */
	/* font-size: 40px; */
	font-weight: 500;
	margin: 2%;
	border-radius: 4px;
}

input[type=text]{
	width: 90%;
	font-size: 20px;
	border: 2px inset #ffdd93;
	border-width: 3px;
}


form { 
margin: 0 auto; 
width:250px;
}
